@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* font para utilizar */
html, body{
    font-family: 'Lato', sans-serif;
    display: flex;
}

main{
    width: calc(100% - 200px);
    /* justify-self: right; */ 
}

* {
    box-sizing: border-box;
}

aside {
    width: 200px;  
    height: 1900px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    font-weight: 800;
    font-size: 1.4rem;
    color: red;
    border: 1px solid rgb(73, 73, 73);
    height: 50px;
    position: sticky;
    top: 0;
}

.sidebar_links {
    display: flex; 
    flex-direction: column;
    font-size: 0.8rem;
    border: 1px solid rgb(73, 73, 73);
    color: white;
    height: 100%;
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 1;
   
}

.sidebar_link {
    padding: 12px;
    border: 1px solid rgb(73, 73, 73);
    height: 40px;
    position: relative;
}

.sidebar_link::after {
    background: red;
    content: "";
    width: 100%;
    height: 39px;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(-100%);
    transition: all 0.4s cubic-bezier(0.74, 0.01, 0.58, 1);

}

.sidebar_link:hover::after{
 transform: translate(0);
}


.sidebar_link:not(:last-child) {
   border-bottom: none;
}


nav{
    display: flex;
    color: white;
    background: black;
    box-shadow: 1px 2px 7px 0px rgb(0 0 0 / 46%);
    height: 50px;
    border: 1px solid rgb(73, 73, 73);
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu_icons {
    display: flex;
    gap: 12px
}

.menu_links {
    display: flex;
    gap: 20px
}

.title{
    position: relative
}

.img_title{
    width: 100%;
}

.title_content{
    position: absolute;
    bottom: 110px;
    left: 50px;
}

.title_content h1 {
    color: white;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    font-weight: 800;

}

.btn-primary{
    background: white;
    height: 36px;
    width: 72px;
    border-radius: 6px;
    border: 0;
}

.btn-secondary{
    background: rgba(255, 255, 255, 0.40);
    color: white;
    height: 36px;
    width: 108px;
    border-radius: 6px;
    border: 0;
}


.slider1{
    color: white;
    padding: 24px;
    gap: 12px;
}

.slider1_content{  
    display: flex;
    padding: 12px;
}   

.slider1_content_links {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 2px;
    gap: 12px;
    overflow: auto;
    width: 1440px;

}

.cards{
    padding: 24px;
    display: flex;
    justify-content:space-between;
    width: 22%;
    gap: 20px;
}

.cards_thumbnail{
    flex-basis: 20%;
    width: 100%;
    border-radius: 2px;
}
