@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* font para utilizar */
html, body{
    font-family: 'Lato', sans-serif;
    display: flex;
}

main{
    width: calc(100% - 200px);
    /* justify-self: right; */ 
}

* {
    box-sizing: border-box;
}

aside {
    width: 200px;  
    height: 1600px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    font-weight: 800;
    font-size: 1.4rem;
    color: red;
    border: 1px solid rgb(73, 73, 73);
    height: 50px;
}

.sidebar_links {
    display: flex; 
    flex-direction: column;
    font-size: 0.8rem;
    border: 1px solid rgb(73, 73, 73);
    color: white;
    height: 100%;
   
}

.sidebar_link {
    padding: 12px;
    border: 1px solid rgb(73, 73, 73);
    height: 40px;
}

.sidebar_link:not(:last-child) {
   border-bottom: none;
}


nav{
    display: flex;
    color: white;
    height: 50px;
    border: 1px solid rgb(73, 73, 73);
    padding: 12px;
    align-items: center;
    justify-content: space-between;
}

.menu_icons {
    display: flex;
    gap: 12px
}

.menu_links {
    display: flex;
    gap: 20px
}

.title{
    position: relative
}

.img_title{
    width: 80%;
}

.title_content{
    position: absolute;
    bottom: 110px;
    left: 50px;
}

.title_content h1 {
    color: white;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    font-weight: 800;

}

.btn-primary{
    background: white;
    height: 36px;
    width: 72px;
    border-radius: 6px;
    border: 0;
}

.btn-secondary{
    background: rgba(255, 255, 255, 0.40);
    color: white;
    height: 36px;
    width: 108px;
    border-radius: 6px;
    border: 0;
}

.new_shows{
    overflow: auto;
}

.new_shows_content{
    display: flex;
    color: white;
    padding: 24px;
    gap: 12px;
}

.thumbnail_links {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 18px;
    padding: 0 24px;
    gap: 12px;
}

.thumbnail_links_2 {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 18px;
    padding: 64px;
    gap: 12px;
}

.thumbnail_links_3 {
    display: flex;
    border-radius: 18px;
    padding:24px;
    gap: 12px;
}

.big_img_1{
    width: 50%;
}