@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&display=swap');

* {
    box-sizing: border-box;
}

html, body {  
    font-family: 'Open Sans', sans-serif;  
    background-color: #E4EDFA;
    display: flex;
    justify-content: center;
}

.card{
    align-content: center;
    width: 320px;
    height: 400px;
    background: white;
    border-radius: 16px;
    position: relative;
}

.card-top{
    background: #BCD1FF;
    height: 40%;
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    padding: 0 12px;
    box-sizing: border-box;
    margin: 0;
}

.card-content-details{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}

.card-footer{
    padding: 0 12px;
    bottom: 2%;
}

.read_more{
    display: flex;
    padding: 0 12px;
    bottom: 2%;
}








.card-content span{
    padding: 12px;
    left: 0;
    top: 40%;
    font-size: 0.8rem;
    font-weight: bold;
}

.card-content a{
    padding:12px;
    right: 0;
    top: 40%;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(109, 109, 109);
}

.card-content h5{
    padding: 0 12px;
    bottom: 25%;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 0;
}

.card-content p{
    padding: 12px;
    left: 0;
    bottom: 8%;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
}


.card-footer a{
    padding: 12px;
    position: relative;
    right: -32%;
    font-size: 0.6rem;
    font-weight: 900;
    color: #007AE9;
}



.card-footer img{
    width: 10%;
    height: 10%;
    border-radius: 100%;
}




/*https://www.figma.com/file/Roit0sI2XSNyTkw8cy720F/edit-flex-card?node-id=0%3A1*/

/* media query a utilizar em mobile */
/* para screen, entre 0 e o maximo width de 768px*/
 