@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
html, body {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
}

.board {
    border: 1px solid gainsboro;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.cell {
    border: 1px dashed gainsboro;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.target {
    background-color: gainsboro;
}

.ball {
    width: 20px;
    height: 20px;
    background: slateblue;
    position: absolute;
    margin: 10px;
    border-radius: 100%;
}

pre {
    display: inline;
}



/* Coloca o teu CSS a partir daqui */
.ball-0 {
    right:0;


}

.ball-1 {
    right:60%;
}

.ball-2 {
    right:50%;
}

.ball-3 {
    right:70%;

}

.ball-4 {
    right:30%;
}

.ball-5 {
    left:20%;
}

.ball-6 {
    left:30%;
    bottom:50%;
}

.ball-7 {
    right: 30%;
    bottom: 30%;   
}

.ball-8 {
    left:10%;
    top: 20%;

}

.ball-9 {
    left:30%;
    top:20%
}

.ball-10 {

}