html, body {
margin: 0;
padding: 0;
background: #f69898;
}

body {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 990px;
margin: 0 auto;
}

.container {
width: calc(50% - 10px);
display: flex;
justify-content: center;
align-items: center;
position: relative;
height: 400px;
border: 1px solid #d38080;
margin: 4px;
flex-direction: column;
}

.box {
width: 120px;
height: 120px;
background: beige;
}

.box.perspective-square{
    border-radius: 25px;
    box-shadow: -26px 27px 20px #ca7575;
    transform: rotate3d(2, 1, 2, 290deg);
    animation: floating 3s infinite ease-in-out;
}

.box.z-squares{
    transform: skew(3deg, 30deg);
    box-shadow: 20px 19px 20px #ca7575;
    animation: skew 4s infinite ease-in-out;
}

.box.rotate-square{
    transform: rotate(45deg);
    animation: rotate 6s infinite ease-in-out;
}

.mini-boxes {
display: flex;
flex-wrap: wrap;
width: 50%;
}

.hole {
width: 30px;
height: 30px;
background: beige;
border-radius: 100%;
margin: 8px;
}

.mini-boxes-1 .hole:nth-child(odd){
    background: #cc33cc;
}

.mini-boxes-2 .hole:nth-child(4){
  background: #cc33cc;
}

.mini-boxes-3 .hole:nth-last-child(n+6){
  background: #cc33cc;
}

.mini-boxes-4 .hole:nth-last-child(1){
  background: #cc33cc;
}


@keyframes floating {
  0% {transform: rotate3d(2, 1, 2, 290deg) translate(0,  0px); }
  50% {transform: rotate3d(2, 1, 2, 290deg) translate(0, 25px); }
  100% {transform: rotate3d(2, 1, 2, 290deg) translate(0, -0px); }   
}


@keyframes skew {
  0% { transform: skew(0);}
  50% { transform: skew(3deg, 30deg);}
  100% { transform: skew(0);}
}


@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);} 
    100% {transform: rotate(720deg);}  
} 
